<% layout('boilerplate') %>

<% script('/js/truck.js') %>
<% stylesheet('/styles/truck.css') %>

<h2><%= truck.name %></h2>

<div id="truck-data">
    <%if(truck.phone) { %>
        <span class="data-item phone">
            Phone: <a href="tel:<%= truck.phone %>"><%= truck.phone %></a>
        </span>
    <% }%>
    <%if(truck.website) { %>
        <span class="data-item website">
            Website: <a href="<%= truck.website %>" class="truck-website"><%= truck.website %></a>
        </span>
    <% }%>

    <button type="button" id="follow"> Follow this truck! </button>
</div>
